# WPILib

! .metadata/.plugins/org.eclipse.cdt.core
! .metadata/.plugins/org.eclipse.e4.workbench
! .metadata/.plugins/org.eclipse.jdt.core
bin/
build/
dist/
.metadata/
*.log
*version.ini
*.lock
*.DS_Store